.main-container{
    display: flex;
    flex-direction: column;
    
}

/* 위에 영화 정보란--------------------------------- */

.movie-info-container{
    width: 100%;
    position: relative;
}
.movie-info-container img{
    width: 100%;
}

.movie-info-container__text-container{
    position: absolute;
    top: 40%;
    left: 5%;
    cursor: default;
    color:  white;
}

.movie-info-container__title{
    font-size: 3rem;
    font-weight: bold;
}

.movie-info-container button{
    padding: 0.5rem 1.3rem;
    border: none;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.5);
    color: white;
}

.movie-info-container button:hover{
    background-color: rgba(0,0,0,0.8);
    cursor: pointer;
}

.movie-info-container__description{
    padding-top: 10px;
}

/* 아래 영화 목록 란----------------------------------- */

.movies-container{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 90%, rgba(0,0,0,0.5) 95%, rgba(0,0,0,0) 100%);
    margin-top: -50px;
    padding-top: 50px;
    padding-bottom: 80px;
    z-index: 2;
    overflow: hidden;
}

.movies-container__movie-lists{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.movies-container__movie-lists__movie-list{
    color: white;
    font-weight: bold;
    padding-bottom: 40px;
}

.movies{
    display: flex;
    flex-flow: row nowrap;
    column-gap: 5px;
    /* scroll-snap-type: x mandatory; */
    /* overflow-x: scroll; */
}

/* 스크롤바 숨기기 */
/* .movies::-webkit-scrollbar{
    display: none;
} */
/* 영화목록을 스크롤로 만들고 싶지만 overflow는 쓰면 안되는 것 같음. 후에 JS를 배우면 JS로 보강해보자. */

.movies img{
    flex-grow: 1;
    flex-shrink: 1;
    scroll-snap-align: start;
}

.movies img:hover{
    transform: scale(2);
    cursor: pointer;
}

@media (max-width: 500px){
    .movies img{
        width: 200px;
    }
}
@media (min-width: 501px) and (max-width: 999px){
    .movies img{
        width: 300px;
    }
}
@media (min-width: 1000px){
    .movies img{
        width: 400px;
    }
}
